.border {
	border: 1px solid navy;
	background-color: linen;
	margin-left: 20px;
}

#chart_div {
	border: solid 1px teal;
}
.col-md-1 {
	background-color: linen;
}
.col-md-8 {
	background-color: teal;
}
.col-md-4 {
	background-color: salmon;
}
.col-md-6 {
	background-color: pink;
}
.col-md-9 {
	border: solid 1px teal;
}
.col-md-3 {
	border: solid 1px navy;
}
.col-md-5 {
	border: solid 1px pink;
}
.col-md-7 {
	border: solid 1px purple;
}
}